/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.homeSlider .bx-viewport{
	height: 500px;
}
.display_none{display:none;}
h1.googlekeyword {
    font-family: Shadows Into Light, cursive;
    font-weight: 400;
    font-size: 55px;
    color: #fff;
    text-align: center;
}
.gform_legacy_markup_wrapper .gfield_time_hour,
.gform_legacy_markup_wrapper .gfield_time_minute{
	flex-wrap: wrap;
}
input#input_24_8_1,
input#input_24_8_2,
.gform_legacy_markup_wrapper .gfield_time_hour input,
.gform_legacy_markup_wrapper .gfield_time_minute input,
.ginput_container.ginput_container_time,
.gfield_time_minute {
    text-align: center;
}
select#input_24_8_3,
.gfield_time_ampm.ginput_container.ginput_container_time{
	    max-height: 50px;
}
.gform_legacy_markup_wrapper .gfield_time_hour i{
	margin-top: 0 !important; 
	    position: absolute;
    bottom: 9px;
    right: 0;

}
div#input_24_8 {
    position: relative;
}
#label_30_7_1{
	    color: #fff;
}
#label_30_7_1 a{
	    color: #d92f32;
}
#menu-main-menu-1>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px!important;
    padding-right: 7px!important;
}

header .uabb-creative-menu .uabb-has-submenu-container>a>span:after {
    content: "\f078";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 0px 0 0 5px;
    font-weight: 400;
    float: right;
}

.gform_wrapper ul.gform_fields .gfield_time_ampm select {
    padding-left: 3px!important;
    padding-right: 0px!important;
}
.gform_wrapper .gfield_checkbox li label{
    width: 100%!important;
    max-width: 100%!important;
    margin-top: 10px;
    display: block;
}
.fl-node-5cf8260fd1313 .uabb-gf-style .gform_wrapper .gfield_checkbox li label{
    margin-top: 10px!important;
}
.storename .direction a {
    color: #d92f32!important;
    font-family: Shadows Into Light, cursive;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 220px;
    min-height: 45px;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #d92f32;
    border: 1px solid #d92f32;
    background: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.fl-page-bar-text-1{
    display: flex !important;
    align-items: center;
}
.fl-page-bar-text-1 .storename{
    margin-bottom: 0;
    margin-left: 20px;
}

.storename .direction a:hover {
    background: #d92f32;
}

.storename .direction a span {
    color: #d92f32;
}

.storename .map-container iframe {
    min-height: 600px!important;
}

.fl-content-slider .fl-slide .fl-slide-text > p{
	margin: 0px!important;
	display: none!important;
}
.gform_wrapper .ginput_container_date .datepicker.medium {
    width: 100%!important;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

body.page-id-447275 a.fl-button *,
body.page-id-447275 a.fl-button:visited *,
body.page-id-447275 .fl-builder-content a.fl-button *,
body.page-id-447275 .fl-builder-content a.fl-button:visited * {
    color: #d92f32;
}

body.page-id-447275 a.fl-button,
body.page-id-447287 a.fl-button,
body.page-id-447275 a.fl-button:visited,
body.page-id-447287 a.fl-button:visited,
body.page-id-447275 .fl-builder-content a.fl-button,
body.page-id-447287 .fl-builder-content a.fl-button,
body.page-id-447275 .fl-builder-content a.fl-button:visited,
body.page-id-447287 .fl-builder-content a.fl-button:visited {
    border: 1px solid #d92f32;
}

.storename .direction a span {
    color: #d92f32!important;
}

.storename .direction a:hover span {
    color: #fff!important;
}

#menu-main-menu-1>li>a {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.fl-page-header-logo-col {
    width: 25%;
}

.fl-page-nav-col {
    width: 75%;
}
.fl-slide-content{
	padding: 0px!important;
}
@media(min-width:1024px) {
	.fl-slide.fl-slide-2 .fl-slide-content-wrap, .fl-slide.fl-slide-2 .fl-slide-content{
	width: 100%;
    margin: 0px;
}

.fl-content-slider .fl-content-slider-wrapper{
	min-height: 570px!important;
}
.fl-content-slider .fl-content-slider-wrapper .fl-slide{
	height: 100%!important;
}
}
@media(max-width:1024px) {
    .fl-node-5ce41c7b61a7a .uabb-creative-menu a {
        letter-spacing: 0px!important;
        padding: 10px 5px!important;
        font-size: 11px!important;
    }
    #menu-main-menu-1>li>a {
        letter-spacing: 0px;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
    .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
        padding: 10px;
    }
}

@media(max-width:992px) {
    #main-menu-wrap {
        display: none!important;
    }
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
}

@media(max-width:768px) {
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto;
    }
	.fl-page-nav-right .fl-page-header-logo {
		text-align: left !important;
	}
    .fl-page-header-logo-col {
        width: 100%;
    }
    .fl-page-header-logo-col .fl-page-header-logo a img {
        max-width: 40%;
    }
    .fl-page-nav-col {
        display: none;
    }
    button#responsive-menu-button {
        top: 75px!important;
    }
    .fl-page-bar .fl-page-bar-row .text-left {
        display: none!important;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 100%!important;
        text-align: center;
    }
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
}

.btn-hover {
    z-index: 99;
}
body .gform_wrapper ul li.gfield{
    margin-top: 0 !important;
}
.uabb-gf-style .gform_wrapper ul.gfield_radio li, .uabb-gf-style .gform_wrapper ul.gfield_checkbox li,
.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gfield .ginput_container_checkbox {
    margin-bottom: 0px !important;
}

.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gfield .ginput_container_checkbox {
    margin-top: 0px !important;
}
.gform_wrapper ul.gfield_checkbox{
    margin: 0 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]
{
    width: 90% !important;
    margin: 0 5% !important;
}

.facetwp-template .product-grid a.fl-button.getcoupon-btn:hover {
    background: #000 !important;
    border: 1px solid #000;
}
.storename li .phone a:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
.ui-datepicker-title{
	color: #000!important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover{
	background: #000 !important;
    border: 1px solid #000 !important;
}
}
@media(max-width:375px) {
	button#responsive-menu-button {
		top: 96px !important;
	}
}
@media(max-width:330px) {
	button#responsive-menu-button {
		top: 92px !important;
	}
}

